<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HotFix</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/x-ico" href="favicon.ico" />
    </head>
    <body>
        <div id="app">
        </div>
    </body>
</html>